################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Library For Games/.vs/Library For Games/FileContentIndex/7806efe4-3d3d-4817-aeac-4b7593965f38.vsidx
